*{
    margin: 0;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(19, 17, 17);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Define a altura mínima da tela inteira */
}
#hr {
    width: 2px;
    height: 300px; /* Altura desejada da linha */
    background-color: #00B208;
    margin: 0 10px; /* Espaçamento entre a linha e as divs */
}
#container {
    border-radius: 10px;
    background-color: rgb(26, 21, 21);
    height: 500px;
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    overflow: hidden; /* Oculta conteúdo que excede a altura da div */
}

#imagem {
    border-radius: 10px;
    height: 400px;
    width: 45%;
    box-sizing: border-box;
}

#imagem img {
    width: 100%;
}

#calculadora{
    border-radius: 10px;
    height: 400px;
    width: 55%;
    box-sizing: border-box;
    margin: 10px;
    color: rgb(221, 220, 220);
    font-weight: 600;
    
}
#calculadora h1{
    text-align: center;
    margin-bottom: 10px;
}
#input-box label{
    font-size: 1.1em;
    font-weight: 500px;
    margin-bottom: 50px;
}
#input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(68, 54, 54);
    border-radius: 3px;
    margin: 3px 0px 30px 0px;
    padding: 1.3rem;
    width: 91%;
    font-size: 1.4em;
}
#input-field input{
    background-color: transparent;
    border: none;
    width: 100%;
    color: rgb(221, 220, 220);
    font-size: 1.3rem;
    padding: 0 0.5rem;
}
#input-field input:focus{
    outline: none;
}

#input-field input::-webkit-inner-spin-button,
#input-field input::-webkit-outer-spin-button {
    appearance: none;
}
#verificar{
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    background-color: rgb(0, 178, 08);
    color: rgb(255, 255, 255);
    appearance: none;
    outline: none;
    font-size: 1.3rem;
    cursor: pointer;

}

#resultado{
    background-color: red;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}
#resultado p {
    font-size: 3em;
    text-align: center;
}


#resultbox {
    display: none;
    margin-top: 20px;
    align-content: space-between;
    align-items: center;
    justify-content: center;

}

#resultrow{
    width: 2px;
    height: 60px; /* Altura desejada da linha */
    background-color: #00B208;
    margin: 0 10px; /* Espaçamento entre a linha e as divs */
}
